<div class="row" id="calendar_text">
  <div class="col-md-12" >
    <h2 class="main-title">Calendario</h2>

    <div class="links">
      <span ng-if="$ctrl.data.options.group_table">Día</span>
      <span ng-if="!$ctrl.data.options.group_table">Semana</span>
      <a ng-init="$ctrl.selection = ($ctrl.options.current_journey > $ctrl.data.calendar.length ?  0 : $ctrl.options.current_journey)"
         ng-click="$ctrl.selection = $index"
         ng-repeat="week in $ctrl.data.calendar"
         ng-class="{'active': $ctrl.selection == $index}">
        <span  ng-bind="week.name.replace('ó','o')"></span>
      </a>
    </div>
  </div>
</div>

<div class="row" id="calendar">

  <div class="col-md-12 text-center">
      <div class="clearfix"></div>
  </div>

  <div class="col-md-12 day_match" >
    <a ng-click="$ctrl.selection = $ctrl.selection - 1" style="padding-right:10px"><img src="./assets/img/back.png" alt=""></a>

    <span ng-if="$ctrl.data.options.group_table">{{$ctrl.data.calendar[$ctrl.selection].name}}</span>
    <span ng-if="!$ctrl.data.options.group_table">{{$ctrl.data.calendar[$ctrl.selection].name}}</span>
    <span ng-if="$ctrl.data.options.group_table">- {{$ctrl.data.calendar[$ctrl.selection].date | date:"dd/MM"}}</span>

    <a ng-click="$ctrl.selection = $ctrl.selection + 1" style="padding-left:10px"><img src="./assets/img/next.png" alt=""></a>

  </div>

  <div class="group_box col-md-12"
       ng-if="$ctrl.selection < $ctrl.data.calendar.length -2 && groups.matches.length && $ctrl.data.calendar[$ctrl.selection].need_brackets == false"
       ng-repeat="groups in $ctrl.data.calendar[$ctrl.selection].groups">

    <div class="title" ng-if="groups.matches.length" ng-class="{'nogroup':!$ctrl.data.options.group_table}">
      <span ng-if="$ctrl.data.options.group_table">Grupo</span>
      {{groups.group}}

    </div>

    <div class="match" ng-repeat="match in groups.matches" >
      <div class="time">{{match.time | date:"hh:mm"}} <span ng-if="match.time">PM</span></div>
      <div class="name" ng-class="{'win': match.score_a > match.score_b, 'tie': match.score_a == match.score_b}">
        {{match.teams[0].name}}
        <span class="vic">Victoria</span><span class="der">Derrota</span>
      </div>
      <div class="pic"><img ng-src="{{match.teams[0].logo_url}}"/></div>
      <div class="score" ng-class="{'win': match.score_a > match.score_b}">{{match.score_a}}</div>
      <div class="vs"><img src="./assets/img/vs.png"> </div>
      <div class="score" ng-class="{'win': match.score_b > match.score_a}">{{match.score_b}}</div>
      <div class="pic"><img ng-src="{{match.teams[1].logo_url}}"/></div>
      <div class="name second " ng-class="{'win': match.score_b > match.score_a,'tie': match.score_a == match.score_b}">
        {{match.teams[1].name}}
        <span class="vic">Victoria</span><span class="der">Derrota</span>
      </div>
    </div>
  </div>

  <!--FINAL-->
  <div class="col-md-12 group_finals" >

    <div ng-if="$ctrl.data.calendar[$ctrl.selection].need_brackets == true">
      <img src="{{$ctrl.data.calendar[$ctrl.selection].brackets_url}}" alt="" class="img-responsive" />
    </div>

  </div>



</div>
