
<div id="positions">
  <div class="position">
    Posiciones
  </div>
  <div class="group" ng-if="$ctrl.groups">
    GRUPO {{$ctrl.selection.name}}
  </div>
  <div class="team team_{{$index}}"
       ng-repeat="team in $ctrl.selection.ordered_teams | orderBy: points"
       ng-if="$ctrl.groups">
    <img ng-src="{{team.logo_url}}">
    <span class="number position_{{$index}}">{{$index+1}}.</span>&nbsp;
    <span class="short position_{{$index}}">{{team.short_name}}</span>&nbsp;
    <span class="points">{{team.points}} pts</span>
  </div>

  <div class="team team_{{$index}} nogroup"
       ng-repeat="team in $ctrl.data | orderBy: points |limitTo:5:0"
       ng-if="!$ctrl.groups">
    <span class="number position_{{$index}}">{{$index+1}}.</span>&nbsp;
    <img ng-src="{{team.logo_url}}">
    <span class="points">{{team.points}} pts</span>
  </div>
</div>
