<div id="video_box" ng-if="$ctrl.data.options.playing_live_video">
  <div class="video_frame">
  <iframe width="100%" height="650" ng-src="{{$ctrl.data.options.live_video_url}}" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div id="articles">
  <div class="main">
    <a ng-href="{{::$ctrl.data.articles[0].url}}" target="_blank">
      <span class="date">{{::$ctrl.data.articles[0].date | date:'MMM dd, yyyy'}}</span>
      <span class="title">{{::$ctrl.data.articles[0].title}}</span>
      <span class="sub-title">{{::$ctrl.data.articles[0].subtitle}}</span>
      <img ng-src="{{::$ctrl.data.articles[0].thumb_url}}"/>
    </a>
  </div>

  <div class="secondaries">
    <div class="element" ng-repeat="article in $ctrl.data.articles | limitTo:2:1">
      <div class="note" >
        <a ng-href="{{::article.url}}" target="_blank"><img ng-src="{{::article.thumb_url}}"/></a>
        <div>
          <span class="date">{{::article.date | date:'MMM dd, yyyy'}}</span>
          <a class="title" ng-href="{{::article.url}}" target="_blank">{{::article.title}}</a>
          <span class="sub-title">{{::article.subtitle}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="more_articles">
  <a href="http://lan.leagueoflegends.com/es/tag/esports" target="_blank">Más noticias</a>
</div>

<div class="title_header">
  <span ng-bind="$ctrl.data.options.tournament_name"></span>
  Posiciones:
</div>

<div class="group" ng-repeat="group in $ctrl.data.groups" ng-if="$ctrl.data.options.group_table">
  <table>
    <thead>
      <tr>
        <th class="white" colspan="3">Grupo <span>{{::group.name}}</span></th>
        <th class="text-center">VIC</th>
        <th class="text-center">DER</th>
        <th class="light text-center">PUNTOS</th>
      </tr>
    </thead>
    <tbody>
      <tr class="position_{{$index}}" ng-repeat="team in group.ordered_teams | orderBy: points">
        <td class="position_change"></td>
        <td class="position">{{$index+1}}.</td>
        <td class="team"><img ng-src="{{team.logo_url}}">{{team.name}} <span>&nbsp;{{team.short_name}}</span></td>
        <td class="number">{{team.victories}}</td>
        <td class="number">{{team.defeats}}</td>
        <td class="points">{{team.points}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="group big" ng-if="!$ctrl.data.options.group_table">
  <table>
    <thead>
    <tr>
      <th class="white" colspan="3"></th>
      <th class="text-center">VICTORIAS</th>
      <th class="text-center">DERROTAS</th>
      <th class="text-center">ASESINATOS</th>
      <th class="text-center">MUERTES</th>
      <th class="light text-center">PUNTOS</th>
    </tr>
    </thead>
    <tbody>
    <tr class="position_{{$index}}" ng-repeat="team in $ctrl.data.table | orderBy: points">
      <td class="position_change"></td>
      <td class="position">{{$index+1}}.</td>
      <td class="team"><img ng-src="{{team.logo_url}}">{{team.name}} <span>&nbsp;{{team.short_name}}</span></td>
      <td class="number">{{team.victories}}</td>
      <td class="number">{{team.defeats}}</td>
      <td class="number">{{team.kills}}</td>
      <td class="number">{{team.deaths}}</td>
      <td class="points">{{team.points}}</td>
    </tr>
    </tbody>
  </table>
</div>