<div class="row" id="rules_text">
  <div class="col-md-12" >
    <h2 class="main-title">Reglamento local</h2>
    <div>
      <a class="backtotop" id="backtotop2" href="javascript:void(0)" onclick="$('html, body').animate({scrollTop:0}, 'slow');"></a>
      <div ng-bind-html="$ctrl.data.rules.local_rules" class="text"></div>
    </div>
  </div>
</div>