<div class="navbar-header" id="navlogo">
  <a id="logo" class="navbar-brand" href="#/" style="background:url('{{$ctrl.options.logo_url}}')">&nbsp;</a>
</div>
<div id="navbar" class="navbar-collapse collapse">
  <ul class="first-nav nav navbar-nav">
    <li><a id="noticias" class="active" ng-if="$ctrl.menu[0].active" ng-bind="$ctrl.menu[0].title" href="#/"></a></li>
    <li><a id="lacopa" href="#/el-mundial" ng-if="$ctrl.menu[1].active" ng-bind="$ctrl.menu[1].title"></a></li>
    <li><a id="calendario" ng-if="$ctrl.menu[2].active" ng-bind="$ctrl.menu[2].title" href="#/calendario">Calendario</a></li>
    <li><a id="otraligas" ng-if="$ctrl.menu[3].active" ng-bind="$ctrl.menu[3].title" href="#/otras-ligas">Otras ligas</a></li>
  </ul>
</div>