<section id="submenu" class="hidden">
  <ul style="display:none;" id="to_copa">
    <li ng-if="$ctrl.menu[1].submenus[0].active"><a class="active" href="#/el-mundial">{{$ctrl.menu[1].submenus[0].title}}</a></li>
    <li ng-if="$ctrl.menu[1].submenus[1].active"><a href="#/el-mundial/reglamento-global">{{$ctrl.menu[1].submenus[1].title}}</a></li>
    <li ng-if="$ctrl.menu[1].submenus[2].active"><a href="#/el-mundial/reglamento-local">{{$ctrl.menu[1].submenus[2].title}}</a></li>
  </ul>
  <ul style="display:none" id="to_otras" class="otras">
    <li><a class="active" href="#/otras-ligas">{{$ctrl.menu[3].submenus[0].title}}</a></li>
    <li><a href="#/otras-ligas/cdl">{{$ctrl.menu[3].submenus[1].title}}</a></li>
  </ul>
</section>