<div class="row" id="tournament_text">
  <div class="col-md-10" >
    <h2 class="main-title">Torneo</h2>
    <div ng-bind-html="$ctrl.data.texts.copa_header" class="text"></div>
  </div>
  <div class="col-md-2">
    <img ng-src="{{$ctrl.data.options.logo_url}}" class="img-responsive"/>
  </div>
</div>

<div class="title_header margin30">
  Equipos:
</div>

<div id="teams">

  <div class="container_teams">
  <a class="backtotop" id="backtotop" href="javascript:void(0)" onclick="$('html, body').animate({scrollTop:0}, 'slow');"></a>
  <div ng-repeat="team in $ctrl.data.teams" >
    <div class="team row">
      <div class="col-md-2 team_image">
        <img ng-src="{{team.logo_url}}">
      </div>
      <div class="col-md-9 team_desc">
      <h3>{{team.name}}</h3>
      {{team.description}}
      </div>
      <div class="col-md-1 team_action">
        <a
          ng-click="team.show=!team.show"
          ng-init="team.show=($index<1?true:false)"
          ng-class="{'active':team.show}"
        ></a>
      </div>
    </div>
    <div class="members row" ng-show="team.show">
      <div class="col-md-1"></div>
      <div class="member col-md-2" ng-repeat="player in team.ordered_players">
          <img ng-src="{{player.logo_url}}">
          <h3>{{player.name}}</h3>
          <span class="position">{{player.position}}</span>
          <span class="kda">KDA {{player.kda}}</span>
      </div>
    </div>
  </div>
  </div>
</div>