<div id="slidematch">
  <a class="back" ng-click="$ctrl.back()">back</a>
  <a class="next" ng-click="$ctrl.next()">next</a>
  <div class="carousel">
    <div ng-repeat="match in $ctrl.data" class="multimatch">
      <div class="date">{{match.time | date:"dd/MM"}}<span>{{match.time | date:"HH:mm"}}</span></div>
      <div class="mt">
        <img ng-src="{{match.teams[0].logo_url}}" class="team">
        <span>{{match.score_a}}</span>
        <img src="./assets/img/vs.png" class="vs">
        <span>{{match.score_b}}</span>
        <img ng-src="{{match.teams[1].logo_url}}" class="team">
      </div>
    </div>
  </div>
</div>