body {
  font-family: 'Lato', sans-serif;
  background-image: url("../img/bgshadow.png"), url("../img/backg.jpg");
  background-position: center top,  center top ;
  background-repeat: no-repeat, repeat;
}
body.bgp {
  background-image: url("../img/bgshadow.png"), url("../img/bgp.jpg");
  background-position: center top, center -66px;
  background-repeat: no-repeat, repeat;
}
body nav {
  margin: 0px !important;
  font-family: 'Khand', sans-serif;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  padding: 39px 0px 0px 0px;
}
body nav.navbar-default {
  background: url("../img/line_work.png") center bottom no-repeat;
  border: none;
}
body nav .navbar-nav {
  margin: 0 auto;
  width: 549px;
  float: none;
  padding-top: 70px;
  padding-left: 87px;
}
body nav .navbar-brand {
  background: url("../img/logo_copa.png");
  height: 94px;
  width: 256px;
  margin: 0 !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
body nav #navbar a {
  color: #989898 !important;
  margin: 0px 15px;
  padding: 10px 0px !important;
}
body nav #navbar a.active {
  color: white !important;
  border-bottom: 2px solid white;
}
body nav #navbar a:hover {
  color: white !important;
  border-bottom: 2px solid white;
}
body #submenu {
  background: url("../img/submenu.png") center no-repeat;
  height: 29px;
  display: block;
}
body #submenu.other {
  background: url("../img/submenu.png") -90px 0px no-repeat;
}
body #submenu ul {
  text-align: center;
  padding-top: 4px;
  margin-left: -77px;
}
body #submenu ul.otras {
  margin-left: 301px;
}
body #submenu ul li {
  list-style: none;
  display: inline;
  padding: 0px  20px;
}
body #submenu ul li a {
  color: #adadad;
  text-decoration: none;
  font-weight: bold;
}
body #submenu ul li a.active {
  color: #464646;
}
body .backtotop {
  background: url("../img/backtop.png") no-repeat;
  display: block;
  height: 217px;
  width: 92px;
  position: absolute;
  margin-left: 1129px;
  z-index: 11;
}
body .rules_big {
  margin-bottom: 40px;
}
body #matches {
  height: 70px;
  border-bottom: #464646 1px solid;
  background: rgba(0, 0, 0, 0.2);
}
body .shadowbox {
  -webkit-box-shadow: inset 0px 1px 37px 14px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 1px 37px 14px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 1px 37px 14px rgba(0, 0, 0, 0.75);
  height: 69px;
  width: 100%;
  z-index: 1;
  position: absolute;
}
body #slidematch {
  border-right: 1px solid #464646;
  height: 69px;
  width: 100%;
  overflow: hidden;
}
body #slidematch .back {
  position: absolute;
  margin-left: -30px;
  background: url("../img/back.png");
  display: block;
  z-index: 111;
  height: 16px;
  width: 16px;
  text-indent: -6000px;
  margin-top: 24px;
  cursor: pointer;
}
body #slidematch .next {
  z-index: 111;
  cursor: pointer;
  position: absolute;
  margin-left: 1150px;
  background: url("../img/next.png");
  display: block;
  height: 16px;
  width: 16px;
  text-indent: -6000px;
  margin-top: 24px;
}
body #slidematch:after {
  clear: both;
  content: " ";
  display: block;
}
body #slidematch .carousel {
  width: 20000px;
  -webkit-transition: all 0.5s ease-out;
}
body #slidematch .multimatch {
  width: 380px;
  height: 69px;
  font-family: 'Khand', sans-serif;
  font-weight: 500;
  float: left;
}
body #slidematch .multimatch .date {
  line-height: 19px;
  width: 20%;
  float: left;
  height: 69px;
  color: #5c6160;
  font-size: 18px;
  padding-top: 18px;
  background: rgba(255, 255, 255, 0.07);
  border-right: 1px solid #464646;
  border-left: 1px solid #464646;
  text-align: center;
}
body #slidematch .multimatch .date span {
  font-weight: 400;
  display: block;
}
body #slidematch .multimatch .mt {
  text-align: center;
  color: white;
  font-size: 25px;
  width: 80%;
  float: left;
  padding-top: 7px;
}
body #slidematch .multimatch .mt .vs {
  margin: 0px 10px;
}
body #slidematch .multimatch .mt .team {
  height: 55px;
  margin: 0px 10px;
}
body #positions:after {
  clear: both;
  content: " ";
  display: block;
}
body #positions .position {
  width: 146px;
  border-left: 1px solid #464646;
  border-right: 1px solid #464646;
  background: rgba(255, 255, 255, 0.07);
  text-align: center;
}
body #positions .group {
  width: 134px;
  text-align: center;
  color: #00c3cf;
  border-left: 1px solid #082324;
  border-right: 1px solid #082324;
  background: rgba(0, 195, 207, 0.3);
}
body #positions .name {
  color: #adadae;
}
body #positions .number {
  color: #7d7d7d;
}
body #positions .number.position_0 {
  color: white;
}
body #positions .short.position_0 {
  color: white;
}
body #positions .points {
  font-size: 14px;
}
body #positions div {
  background: rgba(0, 0, 0, 0.35);
  border-right: 1px solid #464646;
  float: left;
  height: 69px;
  padding: 24px;
  font-size: 21px;
  color: #767b7a;
  font-family: 'Khand', sans-serif;
  font-weight: 500;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.57);
  text-transform: uppercase;
}
body #positions div.team {
  padding: 24px 24px 0px 16px;
  width: 215px;
}
body #positions div.team.nogroup {
  padding: 11px 24px 0px 16px;
  width: 198.8px;
}
body #positions div.team.nogroup img {
  float: none;
  margin-top: -3px;
  margin-left: 3px;
}
body #positions div.team.nogroup .points {
  font-size: 15px;
}
body #positions div.team.team_0 {
  border-left: 1px solid #464646;
}
body #positions img {
  float: right;
  width: 58px;
  margin-top: -18px;
  margin-left: 20px;
}
body #content {
  margin-top: 50px;
}
body #content .margin20 {
  margin-top: 20px;
}
body #content .margin30 {
  margin-top: 30px;
  margin-bottom: 10px;
}
body #content #video_box {
  background: rgba(255, 255, 255, 0.05);
  padding: 1px;
  -webkit-box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}
body #content #video_box .video_frame {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}
body #content #video_box iframe {
  background: rgba(255, 255, 255, 0.05);
  padding: 1px;
}
body #content #articles:after {
  clear: both;
  display: block;
  content: " ";
}
body #content #articles .main {
  float: left;
  width: 550px;
  height: 340px;
  background: rgba(255, 255, 255, 0.02);
  padding: 1px;
  -webkit-box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 16px -2px rgba(0, 0, 0, 0.8);
}
body #content #articles .main .title,
body #content #articles .main .sub-title,
body #content #articles .main .date {
  position: absolute;
  display: block;
}
body #content #articles .main .date {
  text-transform: uppercase;
  margin-top: 20px;
  background: black;
  color: white;
  font-weight: 700;
  font-size: 12px;
  padding: 2px 25px;
}
body #content #articles .main .title {
  color: white;
  font-weight: 700;
  font-size: 27px;
  margin-top: 228px;
  margin-left: 0px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.57);
  background: url("../img/bgtitle.png") repeat-x top;
  padding-left: 14px;
  padding-right: 14px;
  height: 110px;
  padding-top: 20px;
  width: 549px;
  line-height: 26px;
}
body #content #articles .main .sub-title {
  margin-top: 300px;
  font-size: 17px;
  margin-left: 14px;
  color: #8d8e8e;
}
body #content #articles .secondaries {
  float: left;
  margin-left: 30px;
  width: 560px;
}
body #content #articles .secondaries .date {
  text-transform: uppercase;
}
body #content #articles .secondaries .element {
  height: 164px;
  background: rgba(255, 255, 255, 0.02);
  padding: 1px;
}
body #content #articles .secondaries .element .note {
  float: none !important;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  padding: 0px !important;
}
body #content #articles .secondaries .element:first-child {
  margin-bottom: 12px;
}
body #content #articles .secondaries .element img {
  width: 290px;
  float: left;
  background: rgba(255, 255, 255, 0.05);
  padding: 1px;
  -webkit-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.9);
}
body #content #articles .secondaries .element div {
  float: left;
  color: #8d8e8e;
  width: 260px;
  padding: 10px 15px;
}
body #content #articles .secondaries .element div .title {
  color: white;
  display: block;
  margin: 20px 0px;
  font-weight: 700;
}
body #content #articles .secondaries .element:after {
  clear: both;
  display: block;
  content: " ";
}
body #content #articles img {
  width: 100%;
  height: 100%;
}
body #content .more_articles {
  margin: 40px 0px;
  text-align: right;
}
body #content .more_articles a {
  background: url("../img/more_articles.png") no-repeat right 0px;
  background-size: 20px;
  font-weight: 700;
  padding-right: 32px;
  text-transform: uppercase;
  color: white;
  font-size: 13px;
  background-size: 17px;
}
body #content .title_header {
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  padding: 12px 30px;
  font-family: 'Khand', sans-serif;
}
body #content .title_header span {
  float: right;
  font-size: 15px;
  font-weight: 400;
  color: #484c52;
  padding-top: 12px;
}
body #content .group {
  border: 1px solid transparent;
  float: left;
  margin-bottom: 30px;
  width: 48.5%;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
}
body #content .group.big {
  width: 100%;
  margin: 0px !important;
}
body #content .group:nth-child(even) {
  margin-left: 3%;
}
body #content .group table {
  width: 100%;
  font-family: 'Khand', sans-serif;
}
body #content .group table thead {
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 400;
  color: #585a5c;
}
body #content .group table thead .white {
  color: white;
}
body #content .group table thead .light {
  color: #878889;
}
body #content .group table thead th {
  font-weight: 600;
  padding: 9px 8px;
}
body #content .group table thead th.white {
  padding-left: 42px;
  font-weight: 400;
}
body #content .group table thead th.white span {
  font-weight: 700;
}
body #content .group table tbody {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}
body #content .group table tbody tr {
  vertical-align: middle;
}
body #content .group table tbody tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.4);
}
body #content .group table tbody tr:nth-child(odd) {
  background: rgba(0, 0, 0, 0.2);
}
body #content .group table tbody tr:last-child {
  background: rgba(237, 28, 36, 0.1) !important;
}
body #content .group table tbody tr:nth-last-child(2) {
  background: rgba(237, 28, 36, 0.2) !important;
}
body #content .group table tbody tr.position_0 {
  background: rgba(37, 72, 76, 0.4) !important;
}
body #content .group table tbody tr.position_1 {
  background: rgba(28, 56, 56, 0.3) !important;
}
body #content .group table tbody span {
  font-size: 14px;
  color: #8e9a9c;
  font-weight: bold;
}
body #content .group table tbody img {
  width: 50px;
  margin-right: 10px;
}
body #content .group table tbody .position_change {
  width: 30px;
}
body #content .group table tbody .position {
  text-align: center;
  width: 40px;
  font-size: 18px;
  color: #8e9a9c;
  font-weight: 600;
}
body #content .group table tbody .number {
  font-size: 18px;
  color: #8e9a9c;
  font-weight: 600;
}
body #content .group table tbody .number,
body #content .group table tbody .points {
  font-weight: 600;
  text-align: center;
}
body #content .group table tbody .points {
  background: rgba(255, 255, 255, 0.08);
}
body #content #tournament_text h2,
body #content #rules_text h2,
body #content #calendar_text h2 {
  font-family: 'Khand', sans-serif;
  color: white;
  font-weight: 500;
  font-size: 41px;
  text-transform: uppercase;
}
body #content #tournament_text .text,
body #content #rules_text .text,
body #content #calendar_text .text {
  color: #e2e3e2;
  line-height: 21px;
}
body #content #tournament_text .text p,
body #content #rules_text .text p,
body #content #calendar_text .text p {
  margin-bottom: 30px;
}
body #content #teams .container_teams {
  border-top: 1px solid #464646;
}
body #content #teams .row {
  margin: 0px;
}
body #content #teams .row.team {
  background: rgba(0, 0, 0, 0.35);
  height: 180px;
  border-bottom: #464646 1px solid;
}
body #content #teams .team_image {
  padding: 32px 0px;
  background: black;
  text-align: center;
}
body #content #teams .team_image img {
  width: 60%;
}
body #content #teams .team_desc {
  height: 100%;
  padding-top: 15px;
  color: #959595;
}
body #content #teams .team_desc h3 {
  text-transform: uppercase;
  color: #c2c2c2;
  font-family: 'Khand', sans-serif;
  font-weight: 700;
  font-size: 27px;
  margin: 0px 0px 15px 0px;
}
body #content #teams .team_action {
  text-align: center;
  padding-top: 80px;
}
body #content #teams .team_action button,
body #content #teams .team_action a {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  background: url("../img/expand.png") no-repeat center;
  border: none;
  height: 18px;
  width: 18px;
}
body #content #teams .team_action button.active,
body #content #teams .team_action a.active {
  background: url("../img/close.png") no-repeat center;
}
body #content #teams .members {
  padding: 35px 0px;
  background: rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: inset 0px 0px 77px 44px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 77px 44px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 77px 44px rgba(0, 0, 0, 0.75);
}
body #content #teams .members .member {
  text-align: center;
}
body #content #teams .members .member h3 {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}
body #content #teams .members .member .position {
  color: #767676;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
body #content #teams .members .member .kda {
  color: #416a70;
  font-weight: bold;
  font-size: 14px;
}
body #content #teams .members .member img {
  border: 1px solid #464646;
  width: 95%;
}
body #content #calendar_text:after {
  clear: both;
  content: " ";
  display: block;
}
body #content #calendar_text h2 {
  float: left;
}
body #content #calendar_text .links {
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  color: white;
  padding-top: 28px;
  padding-left: 30px;
  font-size: 17px;
}
body #content #calendar_text .links a {
  cursor: pointer;
  color: #565c59;
  text-decoration: none;
  padding-left: 10px;
}
body #content #calendar_text .links a.active {
  color: white;
  text-align: center;
}
body #content #calendar_text .links a.active span {
  padding-bottom: 3px;
  border-bottom: 2px solid white;
}
body #content #calendar {
  margin: 0px;
}
body #content #calendar .day_match {
  background: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  color: white;
  padding: 10px;
  font-size: 23px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
body #content #calendar .group_box {
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  padding: 15px 0px 0px 0px;
}
body #content #calendar .group_box .title {
  text-align: center;
  color: #00c3cf;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  border-bottom: 1px solid #464646;
  padding-bottom: 10px;
  margin-bottom: 5px;
}
body #content #calendar .group_box .title.nogroup {
  color: #898989;
  font-weight: 400;
  font-size: 16px;
}
body #content #calendar .group_box .match {
  padding: 20px 0px;
}
body #content #calendar .group_box .match:after {
  clear: both;
  content: " ";
  display: block;
}
body #content #calendar .group_box .match div {
  color: #555;
  height: 67px;
  float: left;
}
body #content #calendar .group_box .match div.time {
  width: 16.5%;
  font-weight: bold;
  padding-top: 22px;
  text-align: center;
}
body #content #calendar .group_box .match div.name {
  font-family: 'Khand', sans-serif;
  font-weight: 400;
  color: #c2c2c2;
  font-size: 23px;
  text-transform: uppercase;
  width: 20%;
  text-align: right;
  padding-top: 20px;
}
body #content #calendar .group_box .match div.name.second {
  text-align: left;
}
body #content #calendar .group_box .match div.name .vic {
  font-family: 'Lato', sans-serif;
  color: #4a8088;
  font-size: 13px;
  display: none;
}
body #content #calendar .group_box .match div.name .der {
  font-family: 'Lato', sans-serif;
  color: #811a1e;
  font-size: 13px;
  display: block;
}
body #content #calendar .group_box .match div.name.win .vic {
  display: block;
}
body #content #calendar .group_box .match div.name.win .der {
  display: none;
}
body #content #calendar .group_box .match div.name.tie {
  padding-top: 20px;
}
body #content #calendar .group_box .match div.name.tie .vic {
  display: none;
}
body #content #calendar .group_box .match div.name.tie .der {
  display: none;
}
body #content #calendar .group_box .match div.pic {
  width: 6%;
  text-align: center;
  margin: 0px 20px 0px 20px;
  display: flex;
  align-items: center;
}
body #content #calendar .group_box .match div.pic img {
  width: 82%;
  margin: 0 auto;
}
body #content #calendar .group_box .match div.score {
  font-family: 'Khand', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #898989;
  width: 3%;
  margin: 0 0%;
  text-align: center;
  padding-top: 14px;
}
body #content #calendar .group_box .match div.score.win {
  color: white;
}
body #content #calendar .group_box .match div.vs {
  padding-top: 18px;
  text-align: center;
  width: 3%;
  margin: 0 0;
}
body #content #calendar .group_box .match div.vs img {
  width: 28px;
}
body #content #calendar .group_finals {
  padding: 10px 0px;
}
body #content #calendar .group_finals .connection {
  position: absolute;
  margin-left: 524px;
  margin-top: 109px;
}
body #content #calendar .group_finals #connector {
  position: absolute;
  margin-left: 524px;
  margin-top: 109px;
  width: 122px;
  height: 394px;
}
body #content #calendar .group_finals #connector .h {
  height: 1px;
  background: #595959;
  width: 61px;
}
body #content #calendar .group_finals #connector .h.win {
  background: white;
}
body #content #calendar .group_finals #connector .h.line-2 {
  position: absolute;
  margin-top: 99px;
}
body #content #calendar .group_finals #connector .h.line-3 {
  position: absolute;
  margin-top: 292px;
}
body #content #calendar .group_finals #connector .h.line-4 {
  position: absolute;
  margin-top: 392px;
}
body #content #calendar .group_finals #connector .h.line-9 {
  position: absolute;
  margin-top: 49px;
  margin-left: 61px;
}
body #content #calendar .group_finals #connector .h.line-10 {
  position: absolute;
  margin-top: 343px;
  margin-left: 61px;
}
body #content #calendar .group_finals #connector .v {
  background: #595959;
  position: absolute;
  width: 1px;
  height: 50px;
  margin-left: 60px;
}
body #content #calendar .group_finals #connector .v.line-6 {
  margin-top: 50px;
}
body #content #calendar .group_finals #connector .v.line-7 {
  margin-top: 293px;
}
body #content #calendar .group_finals #connector .v.line-8 {
  margin-top: 343px;
}
body #content #calendar .group_finals #connector .v.win {
  background: white;
}
body #content #calendar .group_finals .box_final {
  margin-bottom: 15px;
  background: rgba(0, 0, 0, 0.5);
  width: 523px;
  height: 285px;
}
body #content #calendar .group_finals .box_final.great_final {
  margin-top: 86px;
  height: 435px;
  width: 494px;
  position: absolute;
  margin-left: 646px;
  padding-top: 20px;
}
body #content #calendar .group_finals .box_final.great_final .match,
body #content #calendar .group_finals .box_final.great_final .score {
  margin-top: 45px;
}
body #content #calendar .group_finals .box_final.great_final .match {
  margin-left: 10px !important;
}
body #content #calendar .group_finals .box_final.great_final .name_of_team {
  width: 230px !important;
}
body #content #calendar .group_finals .box_final.great_final .logo {
  margin-top: -11px;
  height: 90px !important;
}
body #content #calendar .group_finals .box_final.great_final .score {
  padding-top: 30px;
}
body #content #calendar .group_finals .box_final.great_final .score div {
  font-size: 40px !important;
  padding-bottom: 62px !important;
}
body #content #calendar .group_finals .box_final.great_final .score img {
  margin-bottom: 50px;
}
body #content #calendar .group_finals .box_final.great_final .team.second {
  padding-top: 30px !important;
}
body #content #calendar .group_finals .box_final.great_final .team:first-child {
  border: none !important;
}
body #content #calendar .group_finals .box_final.great_final .team .name {
  font-size: 29px;
}
body #content #calendar .group_finals .box_final.great_final .team.anonymous .name {
  padding-top: 0px !important;
  font-size: 80px !important;
}
body #content #calendar .group_finals .box_final.great_final .title {
  padding: 30px 0px 10px 0px;
  margin-bottom: 30px;
  text-align: right;
}
body #content #calendar .group_finals .box_final .title {
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px 0px;
  font-size: 13px;
  border-bottom: 1px solid #464646;
}
body #content #calendar .group_finals .box_final .title span {
  color: #898989;
}
body #content #calendar .group_finals .box_final .time {
  color: #898989;
  padding: 5px 0px;
  text-align: center;
}
body #content #calendar .group_finals .box_final .content_group:after {
  clear: both;
  content: " ";
  display: block;
}
body #content #calendar .group_finals .box_final .content_group .match,
body #content #calendar .group_finals .box_final .content_group .score {
  float: left;
}
body #content #calendar .group_finals .box_final .content_group .score {
  font-family: 'Khand', sans-serif;
  font-size: 26px;
  width: 100px;
  color: #c2c2c2;
  margin-top: 13px;
  text-align: center;
}
body #content #calendar .group_finals .box_final .content_group .score .lose {
  opacity: 0.5;
}
body #content #calendar .group_finals .box_final .content_group .score div {
  padding: 10px 0px;
}
body #content #calendar .group_finals .box_final .content_group .match {
  margin-left: 40px;
  width: 370px;
}
body #content #calendar .group_finals .box_final .content_group .match .team {
  text-transform: uppercase;
  height: 90px;
  font-family: 'Khand', sans-serif;
  padding: 5px;
  opacity: 0.5;
}
body #content #calendar .group_finals .box_final .content_group .match .team .vic {
  font-family: 'Lato', sans-serif;
  color: #4a8088;
  font-size: 13px;
  display: none;
}
body #content #calendar .group_finals .box_final .content_group .match .team .der {
  font-family: 'Lato', sans-serif;
  color: #811a1e;
  font-size: 13px;
  display: block;
}
body #content #calendar .group_finals .box_final .content_group .match .team.win {
  opacity: 1;
}
body #content #calendar .group_finals .box_final .content_group .match .team.win .vic {
  display: block;
}
body #content #calendar .group_finals .box_final .content_group .match .team.win .der {
  display: none;
}
body #content #calendar .group_finals .box_final .content_group .match .team.tie {
  opacity: 1;
}
body #content #calendar .group_finals .box_final .content_group .match .team.tie .vic {
  display: none;
}
body #content #calendar .group_finals .box_final .content_group .match .team.tie .der {
  display: none;
}
body #content #calendar .group_finals .box_final .content_group .match .team .name {
  color: #c2c2c2;
  padding: 17px 0px 0px 30px;
  font-size: 26px;
}
body #content #calendar .group_finals .box_final .content_group .match .team:after {
  clear: both;
  content: " ";
  display: block;
}
body #content #calendar .group_finals .box_final .content_group .match .team img {
  height: 76px;
  float: left;
}
body #content #calendar .group_finals .box_final .content_group .match .team .name_of_team {
  float: left;
  width: 250px;
  text-align: right;
  margin-right: 20px;
}
body #content #calendar .group_finals .box_final .content_group .match .team:first-child {
  border-bottom: 1px solid #464646;
}
body #content #calendar .group_finals .box_final .content_group .match .team.anonymous .name {
  float: none;
  font-weight: 700;
  color: #464646;
  font-size: 70px;
  padding-top: 0px;
}
body #content #calendar .group_finals .box_final .content_group .match .team.anonymous .name_of_team {
  float: none;
  width: 250px;
  text-align: left;
  margin-right: 20px;
}
body #content #other {
  background: url("../img/other.jpg") no-repeat;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 0px 38px 6px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: 0px 0px 38px 6px rgba(0, 0, 0, 0.81);
  box-shadow: 0px 0px 38px 6px rgba(0, 0, 0, 0.81);
  padding: 40px;
  height: 1239px;
}
body footer {
  background: black;
  border-top: 1px solid #3c3c37;
  font-size: 12px;
  padding-top: 22px;
  margin-top: 70px;
  -webkit-box-shadow: 0px -27px 48px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -27px 48px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -27px 48px 0px rgba(0, 0, 0, 0.75);
}
body footer .second {
  text-align: left;
  margin: 39px -8px 20px 0px;
}
body footer .second .col {
  padding: 0px;
}
body footer .second .col img {
  height: 40px;
}
body footer .second .align-right {
  text-align: right;
}
body footer .second .align-right img {
  width: 115px;
  margin-top: -12px;
}
body footer .copy {
  font-size: 8px;
  color: #aaa;
  margin-top: 10px;
}
body footer .menu {
  padding: 0px;
  margin: 0px;
}
body footer .menu li {
  margin-bottom: 5px;
  list-style: none;
}
body footer .menu li a {
  font-family: 'Khand', sans-serif;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}
body footer .menu li a:hover {
  color: #c5c5c5;
  text-decoration: none;
}
body footer .social:after {
  content: " ";
  display: block;
  clear: both;
}
body footer .social a {
  float: right;
  margin-right: 7px;
  display: block;
  font-weight: 700;
  color: white;
  font-size: 15px;
}
body footer .social a.none {
  padding-top: 4px;
  text-align: 0px;
  width: auto;
}
body footer .social a.sticker {
  text-indent: -5000px;
  width: 29px;
  height: 28px;
}
body footer .social a.facebook {
  background-image: url("../img/social_white.png");
  background-size: cover;
}
body footer .social a.twitter {
  width: 32px;
  background-image: url("../img/social_white.png");
  background-size: cover;
  background-position: 109px 0px;
}
body footer .social a.instagram {
  background-image: url("../img/social_white.png");
  background-size: cover;
  background-position: 73px 0px;
}
body footer .social a.youtube {
  background-image: url("../img/social_white.png");
  background-size: cover;
  width: 34px;
  background-position: 34px 0px;
}
