@bg : url("../img/backg.jpg");
@bgp:url("../img/bgp.jpg");
@bg_linework: url("../img/line_work.png");
@logocopa: url("../img/logo_copa.png");
@submenu: url("../img/submenu.png");
@social_white : url("../img/social_white.png");
@more_articles: url("../img/more_articles.png");
@close: url("../img/close.png");
@expand: url("../img/expand.png");
@back: url("../img/back.png");
@next: url("../img/next.png");
@backtotop: url("../img/backtop.png");
@bgshadow: url("../img/bgshadow.png");
@bgtitle: url("../img/bgtitle.png");
@other: url("../img/other.jpg");
@shadowfooter: 0px -27px 48px 0px rgba(0,0,0,0.75);
@shadowgroup: 0px 0px 16px 1px rgba(0,0,0,0.75);

@black50: rgba(0,0,0,0.50);
@black35: rgba(0,0,0,0.35);


@linkheader:#989898;
@border:#464646;
@subtitle: #8d8e8e;
@whitetrans: #303338;
@grey:#585a5c;
@greylight:#878889;
@number:#8e9a9c;
@titlegrey: #c2c2c2;
@textgrey:#959595;
@position: #767676;
@blue:#416a70;
@bluemagic:#00c3cf;

body{
  font-family: 'Lato', sans-serif;

  background-image: @bgshadow, @bg;
  background-position: center top,  center top ;
  background-repeat: no-repeat, repeat;

  &.bgp{
    background-image: @bgshadow, @bgp;
    background-position: center top,  center -66px ;
    background-repeat: no-repeat, repeat;
  }

  nav{
    margin:0px !important;
    font-family: 'Khand', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    padding: 39px 0px 0px 0px;
    &.navbar-default {
      background: @bg_linework center bottom no-repeat;
      border: none;
    }
    .navbar-nav{
      margin: 0 auto;
      width: 549px;
      float: none;
      padding-top: 70px;
      padding-left: 87px;
    }
    .navbar-brand{
      background: @logocopa;
      height: 94px;
      width: 256px;
      margin:0 !important;
      background-size: contain !important;
      background-repeat: no-repeat !important;
    }
    #navbar {
      a {
        color: @linkheader !important;
        margin: 0px 15px;
        padding: 10px 0px !important;
        &.active {
          color: white !important;
          border-bottom: 2px solid white;

        }
        &:hover {
          color: white !important;
          border-bottom: 2px solid white;

        }
      }
    }
  }

  #submenu{
    background: @submenu center no-repeat ;
    &.other{
      background: @submenu -90px 0px no-repeat
    }
    height:29px;
    display: block;
    ul{
      &.otras{
        margin-left: 301px;
      }
      text-align: center;
      padding-top: 4px;
      margin-left:-77px;
      li{
        list-style: none;
        display: inline;
        padding: 0px  20px;
        a{
          color:#adadad;
          text-decoration: none;
          font-weight: bold;
          &.active{
            color:@border;
          }
        }
      }
    }
  }

  .backtotop{
    background: @backtotop no-repeat;
    display: block;
    height: 217px;
    width: 92px;
    position: absolute;
    margin-left: 1129px;
    //margin-top: 100px;
    z-index: 11;
  }
  .rules_big{
    margin-bottom: 40px;
  }
  #matches{
    height:70px;
    border-bottom: @border 1px solid ;
    background: rgba(0,0,0,0.20);
  }
  .shadowbox{
    -webkit-box-shadow: inset 0px 1px 37px 14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 1px 37px 14px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 1px 37px 14px rgba(0, 0, 0, 0.75);
    height: 69px;
    width: 100%;
    z-index:1;
    position: absolute;
  }
  #slidematch{
    border-right:1px solid @border;
    .back{
      position: absolute;
      margin-left: -30px;
      background: @back;
      display: block;
      z-index:111;
      height: 16px;
      width: 16px;
      text-indent: -6000px;
      margin-top: 24px;
      cursor: pointer;
    }
    .next{
      z-index:111;
      cursor: pointer;
      position: absolute;
      margin-left:1150px;
      background: @next;
      display: block;
      height: 16px;
      width: 16px;
      text-indent: -6000px;
      margin-top: 24px;
    }
    &:after{
      clear:both;
      content:" ";
      display: block;
    }
    height:69px;
    width: 100%;
    overflow: hidden;
    .carousel{
      width:20000px;
      -webkit-transition: all 0.5s ease-out;

    }
    .multimatch{
      width:380px;
      height:69px;
      font-family: 'Khand', sans-serif;
      font-weight: 500;
      float:left;
      .date{
        line-height: 19px;
        width:20%;
        float:left;
        height:69px;
        color:#5c6160;
        font-size: 18px;
        padding-top: 18px;
        background: rgba(255,255,255,0.07);
        border-right:1px solid @border;
        border-left:1px solid @border;
        text-align: center;
        span{
          font-weight: 400;
          display: block;
        }
      }
      .mt{
        text-align: center;
        color:white;
        font-size: 25px;
        width:80%;
        float:left;
        padding-top: 7px;
        .vs{
          margin:0px 10px;
        }
        .team{
          height: 55px;
          margin: 0px 10px;
        }
      }
    }
  }
  #positions{
    &:after{
      clear:both;
      content:" ";
      display: block;
    }
    .position{
      width:146px;
      border-left:1px solid @border;
      border-right:1px solid @border;
      background: rgba(255,255,255,0.07);
      text-align: center;
    }
    .group{
      width:134px;
      text-align: center;
      color:#00c3cf;
      border-left:1px solid #082324;
      border-right:1px solid #082324;
      background: rgba(0,195,207,0.30);
    }
    .name{
      color:#adadae;
    }
    .number{
      color:#7d7d7d;
      &.position_0{
        color:white;
      }
    }
    .short{
      &.position_0{
        color:white;
      }
    }
    .points{
      font-size: 14px;
    }

    div{
      background: @black35;
      border-right:1px solid @border;
      float: left;
      height: 69px;
      padding: 24px;
      font-size: 21px;
      color:#767b7a;
      font-family: 'Khand', sans-serif;
      font-weight: 500;
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.57);
      text-transform: uppercase;
      &:last-child{
        //border:none;
      }

      &.team{
        padding:24px 24px 0px 16px;
        width:215px;
        &.nogroup{
          padding: 11px 24px 0px 16px;
          width:198.8px;
          img{
            float:none;
            margin-top: -3px;
            margin-left:3px;
          }
          .points{
            font-size: 15px;
          }
        }
        &.team_0{
          border-left:1px solid @border;
        }
      }
    }
    img{
      float: right;
      width: 58px;
      margin-top: -18px;
      margin-left: 20px;
    }
  }

  #content{
    margin-top: 50px;
    .margin20{
      margin-top: 20px;
    }
    .margin30{
      margin-top: 30px;
      margin-bottom: 10px;
    }
    #video_box {
      background: rgba(255,255,255,0.05);
      padding:1px;
      .video_frame{
        background: @black50;
        padding:20px;
      }
      -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.8);
      -moz-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.8);
      box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.8);
      //padding: 20px;
      margin-bottom: 50px;
      iframe{
        background: rgba(255,255,255,0.05);
        padding:1px;
      }

    }
    #articles{
      &:after{
        clear: both;
        display: block;
        content:" ";
      }
      .main{
        float:left;
        width:550px;
        height:340px;
        background: rgba(255,255,255,0.02);
        padding: 1px;
        -webkit-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.8);
        -moz-box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.8);
        box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.8);
        .title,.sub-title,.date{
          position: absolute;
          display: block;
        }
        .date{
          text-transform: uppercase;
          margin-top: 20px;
          background: black;
          color: white;
          font-weight: 700;
          font-size: 12px;
          padding: 2px 25px;
        }
        .title{
          color: white;
          font-weight: 700;
          font-size: 27px;
          margin-top: 228px;
          margin-left: 0px;
          text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.57);
          background: @bgtitle repeat-x top;
          padding-left: 14px;
          padding-right: 14px;
          height: 110px;
          padding-top: 20px;
          width:549px;
          line-height: 26px;
        }
        .sub-title{
          margin-top: 300px;
          font-size: 17px;
          margin-left: 14px;
          color:@subtitle;
        }
      }
      .secondaries{
        float:left;
        margin-left:30px;
        width:560px;
        .date{
          text-transform: uppercase;
        }
        .element{
          height:164px;
          background:rgba(255,255,255,0.02);
          padding:1px;
          .note{
            float:none !important;
            background: @black50;
            height:100%;
            width:100%;
            padding:0px !important;
          }
          &:first-child{
            margin-bottom: 12px;
          }
          img{
            width: 290px;
            float:left;
            background: rgba(255,255,255,0.05);
            padding:1px;
            -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0, 0, 0.9);
            -moz-box-shadow: 0px 0px 11px 0px rgba(0,0, 0, 0.9);
            box-shadow: 0px 0px 11px 0px rgba(0,0, 0, 0.9);
          }
          div{
            float:left;
            color: @subtitle;
            width: 260px;
            padding:10px 15px;
            .title{
              color:white;
              display: block;
              margin: 20px 0px;
              font-weight: 700;
            }
          }
          &:after{
            clear: both;
            display: block;
            content:" ";
          }

        }
      }
      img{
        width: 100%;
        height:100%;

      }
    }
    .more_articles{
      margin:40px 0px;
      text-align: right;
      a{
        background: @more_articles no-repeat right 0px;
        background-size: 20px;
        font-weight: 700;
        padding-right: 32px;
        text-transform: uppercase;
        color: white;
        font-size: 13px;
        background-size: 17px;
      }
    }
    .title_header{
      margin-bottom: 30px;
      background: @black50;
      font-weight: 500;
      font-size: 30px;
      color:white;
      text-transform: uppercase;
      padding: 12px 30px;
      font-family: 'Khand', sans-serif;
      span{
        float: right;
        font-size: 15px;
        font-weight: 400;
        color: #484c52;
        padding-top: 12px;
      }
    }
    .group{

      border:1px solid transparent;
      float:left;
      margin-bottom: 30px;
      width:48.5%;
      -webkit-box-shadow: @shadowgroup;
      -moz-box-shadow: @shadowgroup;
      box-shadow: @shadowgroup;
      &.big{
        width:100%;
        margin:0px !important;
      }
      &:nth-child(even){
        margin-left: 3%;
      }
      table{
        width:100%;
        font-family: 'Khand', sans-serif;
        thead{
          text-transform: uppercase;
          background: @black50;
          font-size: 14px;
          font-weight: 400;
          color: @grey;
          .white{
            color:white;
          }
          .light{
            color: @greylight;
          }
          th{
            font-weight: 600;
            padding: 9px 8px;
            &.white{
              padding-left: 42px;
              font-weight:400;
              span {
                font-weight: 700;
              }
            }
          }
        }
        tbody {
          font-size: 16px;
          text-transform: uppercase;
          color:white;

          tr{
            vertical-align: middle;
            &:nth-child(even) {
              background: rgba(0, 0, 0, 0.40);
            }
            &:nth-child(odd) {
              background: rgba(0, 0, 0, 0.20);
            }

            &:last-child{
              background:rgba(237,28,36,0.10) !important;
            }
            &:nth-last-child(2){
              background:rgba(237,28,36,0.20) !important;
            }
            &.position_0 {
              background: rgba(37, 72, 76, 0.40) !important;
            }
            &.position_1 {
              background: rgba(28, 56, 56, 0.3) !important;
            }
          }

          span{
            font-size: 14px;
            color:@number;
            font-weight: bold;
          }
          img{
            width:50px;
            margin-right: 10px;
          }
          .position_change{
            width:30px;
          }
          .position{
            text-align: center;
            width: 40px;
            font-size: 18px;
            color: @number;
            font-weight: 600;
          }
          .number{
            font-size: 18px;
            color:@number;
            font-weight: 600;
          }
          .number,.points{
            font-weight: 600;
            text-align: center;
          }
          .points{
            background: rgba(255,255,255,0.08);
          }
        }
      }
    }
    #tournament_text,#rules_text,#calendar_text{
      h2{
        font-family: 'Khand', sans-serif;
        color: white;
        font-weight: 500;
        font-size: 41px;
        text-transform: uppercase;
      }
      .text{
        color:#e2e3e2;
        line-height: 21px;
        p{
          margin-bottom: 30px;
        }
      }
    }
    #teams{
      .container_teams{
        border-top:1px solid @border;
      }
      .row{
        margin:0px;

        &.team {
          background: @black35;
          height: 180px;
          border-bottom: @border 1px solid;
          &:first-child {
          }
        }
      }
      .team_image{
        padding: 32px 0px;
        background: black;
        text-align: center;
        img{
            width: 60%;
        }
      }
      .team_desc{
        height:100%;

        padding-top: 15px;
        color:@textgrey;
        h3{
          text-transform: uppercase;
          color: @titlegrey;
          font-family: 'Khand', sans-serif;
          font-weight: 700;
          font-size: 27px;
          margin:0px 0px 15px 0px;
        }
      }
      .team_action{
        text-align: center;
        padding-top: 80px;
         button,a{
           cursor: pointer;
           display: block;
           margin:0 auto;
          background: @expand no-repeat center;
          border:none;
          height:18px;
          width:18px;
           &.active{
              background: @close no-repeat center;
           }
         }
      }
      .members{
        padding:35px 0px;
        background: rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: inset 0px 0px 77px 44px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 0px 77px 44px rgba(0,0,0,0.75);
        box-shadow: inset 0px 0px 77px 44px rgba(0,0,0,0.75);
        .member{
          text-align: center;
          h3{
            color:white;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: 5px;
          }
          .position{
            color: @position;
            font-weight: bold;
            font-style: italic;
            font-size: 15px;
            text-transform: uppercase;
            display: block;
            text-align: center;
          }
          .kda{
            color:@blue;
            font-weight: bold;
            font-size: 14px;
          }
          img{
            border:1px solid @border;
            width:95%;
          }
        }
      }

    }
    #calendar_text{
      &:after{
        clear:both;
        content: " ";
        display:block;
      }
      h2{
        float:left;
      }
      .links{
        text-transform: uppercase;
        font-weight: bold;
        float: left;
        color: white;
        padding-top: 28px;
        padding-left: 30px;
        font-size: 17px;
        a{
          cursor: pointer;
          color:#565c59;
          text-decoration: none;
          padding-left: 10px;
          &.active{
            color:white;
            //text-decoration: underline;
            //padding-bottom: 3px;
            text-align: center;
            span{
              padding-bottom: 3px;
              border-bottom:2px solid white;
            }
          }
        }
      }

    }
    #calendar{
      margin:0px;
      .day_match{
        background: rgba(255,255,255,0.20);
        font-weight: bold;
        color:white;
        padding: 10px;
        font-size: 23px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
      }
      .group_box{
        background: @black50;
        margin-bottom: 10px;
        padding: 15px 0px 0px 0px;

        .title{
          text-align: center;
          color:@bluemagic;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 20px;
          border-bottom: 1px solid @border;
          padding-bottom: 10px;
          margin-bottom: 5px;
          &.nogroup{
            color :#898989;
            font-weight: 400;
            font-size: 16px;
          }
        }
        .match{

          padding:20px 0px;

          &:after{
            clear:both;
            content:" ";
            display: block;
          }
          div{
            color: #555;
            height:67px;
            float:left;
            &.time{
              width:16.5%;
              font-weight: bold;
              padding-top: 22px;
              text-align: center;
            }
            &.name{
              font-family: 'Khand', sans-serif;
              font-weight: 400;
              color: #c2c2c2;
              font-size: 23px;
              text-transform: uppercase;
              width: 20%;
              text-align: right;
              padding-top: 20px;
              &.second{
                text-align: left;
              }
              .vic{
                font-family: 'Lato', sans-serif;
                color:#4a8088;
                font-size: 13px;
                display: none;
              }
              .der{
                font-family: 'Lato', sans-serif;
                color:#811a1e;
                font-size: 13px;
                display:block;
              }

              &.win {

                .vic {
                  display: block;
                }
                .der{
                  display:none;
                }
              }
              &.tie{
                padding-top: 20px;
                .vic {
                  display: none;
                }
                .der{
                  display:none;
                }
              }
            }
            &.pic{
              width:6%;
              text-align: center;
              margin:0px 20px 0px 20px;
              display: flex;
              align-items: center;
              img{
                width:82%;
                margin:0 auto;
              }
            }
            &.score{
              font-family: 'Khand', sans-serif;
              font-size: 25px;
              font-weight: 600;
              color: #898989;
              width:3%;
              margin:0 0%;
              text-align: center;
              padding-top: 14px;
              &.win{
                color:white;
              }
            }
            &.vs{
              padding-top: 18px;
              text-align: center;
              width:3%;
              margin: 0 0;
              img{
                width:28px
              }
            }
          }

        }
      }
      .group_finals{
        .connection{
          position: absolute;
          margin-left: 524px;
          margin-top: 109px;
        }

        #connector{
          position:absolute;
          margin-left:524px;
          margin-top:109px;
          width:122px;
          height:394px;
          .h{
            height:1px;
            background: #595959;
            width:61px;
            &.win{
              background: white;
            }
            &.line-2{
              position: absolute;
              margin-top: 99px;
            }
            &.line-3{
              position: absolute;
              margin-top: 292px;
            }
            &.line-4{
              position: absolute;
              margin-top: 392px;
            }
            &.line-9{
              position: absolute;
              margin-top: 49px;
              margin-left: 61px;
            }
            &.line-10{
              position: absolute;
              margin-top: 343px;
              margin-left: 61px;
            }
          }
          .v{
            background: #595959;
            position: absolute;
            width:1px;
            height:50px;
            margin-left: 60px;
            &.line-5{
            }
            &.line-6{
              margin-top: 50px;
            }
            &.line-7{
              margin-top:293px;
            }
            &.line-8{
              margin-top:343px;
            }
            &.win{
              background: white;
            }
          }
        }
        padding:10px 0px;

        .box_final{
          &.great_final{
            margin-top: 86px;
            height: 435px;
            width:494px;
            position: absolute;
            margin-left: 646px;
            padding-top:20px;
            .match,.score{
              margin-top: 45px;
            }
            .match{
              margin-left:10px !important;
            }
            .name_of_team{
              width: 230px !important;
            }
            .logo{
                margin-top:-11px;
                height:90px !important;
            }
            .score{
              div {
                font-size: 40px !important;
                padding-bottom: 62px !important;
              }
              img{
                margin-bottom: 50px;
              }
              padding-top: 30px;
            }
            .team{
              &.second{
                padding-top: 30px !important;
              }
              &:first-child {
                border: none !important;
              }
              .name{
                font-size: 29px;
              }
              &.anonymous{
                .name {
                  padding-top: 0px !important;
                  font-size: 80px !important;
                }
              }
            }
            .title{
              padding:30px 0px 10px 0px;
              margin-bottom: 30px;
              text-align: right;
            }
          }
          margin-bottom: 15px;
          background: @black50;
          width:523px;
          height:285px;
          .title{
            text-transform: uppercase;
            font-style: italic;
            font-weight: bold;
            color:white;
            text-align: center;
            padding:10px 0px;
            font-size:13px;
            border-bottom:1px solid @border;
            span{
              color:#898989;
            }
          }

          .time{
            color:#898989;
            padding:5px 0px;
            text-align: center;
          }
          .content_group{
            &:after{
              clear:both;
              content: " ";
              display: block;
            }
            .match,.score{
              float:left;
            }
            .score{
              font-family: 'Khand', sans-serif;
              font-size: 26px;
              width:100px;
              color: #c2c2c2;
              margin-top: 13px;
              .lose{
                opacity:0.5;
              }
              div{
                padding:10px 0px;
              }
              text-align: center;
            }
            .match{
              margin-left: 40px;
              width:370px;
              .team{
                text-transform: uppercase;
                height:90px;
                font-family: 'Khand', sans-serif;
                padding:5px;
                opacity: 0.5;
                .vic{
                  font-family: 'Lato', sans-serif;
                  color:#4a8088;
                  font-size: 13px;
                  display: none;
                }
                .der{
                  font-family: 'Lato', sans-serif;
                  color:#811a1e;
                  font-size: 13px;
                  display:block;
                }

                &.win {
                  opacity:1;
                  .vic {
                    display: block;
                  }
                  .der{
                    display:none;
                  }
                }
                &.tie{
                  opacity:1;
                  .vic {
                    display: none;
                  }
                  .der{
                    display:none;
                  }
                }

                .name{
                  //float: left;
                  color: #c2c2c2;
                  padding: 17px 0px 0px 30px;
                  font-size: 26px;
                }
                &:after{
                  clear:both;
                  content: " ";
                  display: block;
                }
                img{
                  height:76px;
                  float:left;
                }
                .name_of_team{
                  float:left;
                  width:250px;
                  text-align: right;
                  margin-right:20px;
                }
                &:first-child{
                  border-bottom: 1px solid @border;
                }
                &.anonymous{
                  .name {
                    float:none;
                    font-weight: 700;
                    color: #464646;
                    font-size: 70px;
                    padding-top: 0px;
                  }
                  .name_of_team{
                    float:none;
                    width:250px;
                    text-align: left;
                    margin-right:20px;
                  }
                }
              }
            }

          }
        }
      }
    }
    #other{
      background: @other no-repeat;
      border:1px solid transparent;
      -webkit-box-shadow: 0px 0px 38px 6px rgba(0,0,0,0.81);
      -moz-box-shadow: 0px 0px 38px 6px rgba(0,0,0,0.81);
      box-shadow: 0px 0px 38px 6px rgba(0,0,0,0.81);
      padding:40px;
      height:1239px;
    }
  }

  footer{
    background: black;
    border-top: 1px solid #3c3c37;
    font-size: 12px;
    padding-top: 22px;
    margin-top: 70px;
    -webkit-box-shadow: @shadowfooter;
    -moz-box-shadow: @shadowfooter;
    box-shadow: @shadowfooter;
    .second{
      text-align: left;
      margin: 39px -8px 20px 0px;
      .col{
        padding: 0px;
        img{
          height:40px;
        }
      }

      .align-right{
        text-align: right;
        img{
          width: 115px;
          margin-top: -12px;
        }
      }
    }

    .copy{
      font-size: 8px;
      color:#aaa;
      margin-top: 10px;
    }

    .menu{
      padding: 0px;
      margin: 0px;
      li{
        margin-bottom: 5px;
        list-style: none;
        a{
          font-family: 'Khand', sans-serif;
          color: white;
          font-size: 15px;
          text-transform: uppercase;
          &:hover{
            color: #c5c5c5;
            text-decoration: none;
          }
        }

      }

    }
    .social {
      &:after {
        content: " ";
        display: block;
        clear: both;
      }
      a {
        float: right;
        margin-right: 7px;
        display: block;
        font-weight: 700;
        color:white;
        font-size: 15px;

        &.none {
          padding-top: 4px;
          text-align: 0px;
          width: auto;
        }
        &.sticker {
          text-indent: -5000px;
          width: 29px;
          height: 28px;
        }
        &.facebook {
          background-image: @social_white;
          background-size: cover;
        }
        &.twitter {
          width: 32px;
          background-image: @social_white;
          background-size: cover;
          background-position: 109px 0px;
        }
        &.instagram {
          background-image: @social_white;
          background-size: cover;
          background-position: 73px 0px;
        }
        &.youtube {
          background-image: @social_white;
          background-size: cover;
          width: 34px;
          background-position: 34px 0px;
        }
      }

    }
  }

}

